@import "tailwindcss";

body {
  font-family: "Jersey 25", sans-serif;
  letter-spacing: 1px;
}

.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  animation: upp 0.125s ease-in-out forwards;
}

/*animations*/

/*slide up animation*/
@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-up {
  animation: slideUp 1s ease-in-out forwards;
}

@keyframes upp {
  0% {
    transform: translate(-50%, 50%);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

@keyframes mainDown {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-main-down {
  animation: mainDown 0.3s ease-out forwards;
}

@keyframes mainUp {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(0px);
  }
}

.animate-main-up {
  animation: mainUp 0.3s ease-out forwards;
}

@keyframes down {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(10px);
  }
}

.animate-down {
  animation: down 0.3s ease-out forwards;
}

@keyframes up {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.animate-up {
  animation: up 0.3s ease-out forwards;
}